# app
app/.next
app/out

# api
api/dist

# env
.env*

# dependencies
*/node_modules

# temp
*/temp/*.jpeg
*/temp/*.jpg
*/temp/*.png
*/temp/*.gif
*/temp/*.svg
*/temp/*.webp
*/public/*.jpeg
*/public/*.jpg
*/public/*.png
*/public/*.gif
*/public/*.svg
*/public/*.webp

# logs
*/npm-debug.log*

# misc
*/.DS_Store
*/.vscode

# Server files storage
temp/*
logs/*

# prod db data
database.tar
database_public.tar